name: Gitee repos mirror periodic job
on:
  schedule:
    # 每天北京时间9点跑
    - cron:  '1 1 * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Mirror the Github organization repos to Gitee.
      uses: Yikun/hub-mirror-action@master
      with:
        src: github/clearhanhui
        dst: openi/clearhanhui
        dst_key: ${{ secrets.OEPNI_SYNC }}
        dst_token:  ${{ secrets.OPENI_TOKEN }}
